
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

:root{
    /*font*/
    --body-font: "Poppins", sans-serif;
}

*, *::before, *::after {
  box-sizing: border-box;
}

* {
    font-family: var(--body-font);
    color: white;
    padding: 0px;
    margin: 0px;
  }
  body {
    overflow-x: hidden;
    background-color: #100422;
  }
  #Home {
    background-image: url(./background.png);
    background-size: cover;
    min-height: 100vh;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
  }
  #Home h1 {
    color: white;
    position: absolute;
    font-size: 50px;
    z-index: 2;
    margin-top: 30px;
  }
  #Home h2{
    color: white;
    position: absolute;
    font-size: 15px;
    z-index: 2;
    margin-top: 120px;
  }
  #Home img {
    position: absolute;
    bottom: 0px;
  }
  #Mountain1 {
    position: absolute;
    transform: translateY(118px);
    left: 60px;
    width: 100%;
    pointer-events: none;
  }
  #Mountain2 {
    width: 100%;
    z-index: 3;
    pointer-events: none;
  }
  #leftCloud,
  #mainCloud,
  #rightCloud {
    top: 120px;
    width: 200px;
  }
  #leftCloud {
    left: 20px;
  }
  #rightCloud {
    right: 20px;
  }
  @keyframes loadAnimation {
    0% {
      opacity: 0;
      transform: translateY(-100%);
    }
    100% {
      opacity: 1;
      transform: translateY(0%);
    }
  }
  header nav {
    position: absolute;
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: normal;
    z-index: 4;
    padding: 60px 140px;
    font-size: 22px;
    animation: loadAnimation 2s;
  }
  header nav span {
    width: 50%;
    padding-right: 60px;
    display: flex;
    justify-content: space-around;
  }
  header nav span a {
    text-decoration: none;
    position: relative;
  }
  header nav span a::before {
    content: "";
    background-color: white;
    width: 0%;
    height: 2.5px;
    display: unset;
    position: absolute;
    border-radius: 20px;
    bottom: -5px;
    transition: 0.3s;
  }
  header nav span a:hover::before {
    width: 100%;
  }
  #About {
    background-color: #100422;
    padding: 0px 40px;
    max-height: 100vh;
    font-size: 20px;
    /*overflow: hidden;*/
  }
  #About h1 {
    padding-top: 40px;
    font-size: 40px;
  }
  #About p{
      padding: 30px 0px;
  }
  .active{
      color: black;
  }
  .active::before{
      background-color: black;
      width: 100%;
  }

  .gallery{
    width: 100%;
    height: 100vh;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .gallery > ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  .track{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-28%, -60%);
    opacity: 0;
    width: 70%;
    height: auto;
    transition: 200ms opacity ease-in-out;
    transition-delay: 200ms;
  }

  .track > img {
    display: block;
    width: 55%;
    height: auto;
    object-fit: contain;
    object-position: center;
  }

  .track[data-active] {
    opacity: 1;
    z-index: 1;
    transition-delay: 0ms;
  }

  .carousel-button {
    position: absolute;
    z-index: 2;
    background: none;
    border: none;
    font-size: 4rem;
    top: 50%;
    transform: translateY(-50%);
    color: rgba(255,255,255, .5);
    cursor: pointer;
    border-radius: .25rem;
    padding: 0 .5rem;
    background-color: rgba(0,0,0,.2);
  }
   
  .carousel-button:hover,
  .carousel-button:focus {
    color: white;
    background-color: rgba(0,0,0,.4);
  }

  .carousel-button:focus {
    outline: 1px solid black;
  }

  .carousel-button.prev {
    left: 20rem;
  }

  .carousel-button.next {
    right: 20rem;
  }

  .login__button {
    background-color: blueviolet; /* Bootstrap primary blue, but you can choose any color */
    color: white; /* Text color */
    padding: 10px 20px; /* Top and bottom padding 10px, left and right padding 20px */
    border-radius: 5px; /* Rounded corners */
    font-weight: bold; /* Bold text */
    text-align: center; /* Center the text */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* Optional: adds a subtle shadow */
    cursor: pointer; /* Changes the mouse cursor to indicate it's clickable */
    transition: background-color 0.3s; /* Smooth background color transition for hover effect */
    /*position: absolute; /* Fixed position relative to the viewport */
    bottom: 20px; /* 20px from the bottom */
    right: 80px; /* 20px from the right */
    text-decoration: none; /* Removes the underline from the link */
    z-index: 10;
  }